body {
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    background-color: #CCD5AE;
  }

  .container {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
  }

    .calculadora {
    width: 400px;
  }
  
  .display {
    font-size: 2em;
    width: 98%;
    text-align: right;
  }
  
  .btn {
    width: 100%;
    height: 50px;
    font-size: 1em;
    border: none;
    background: #dfdfdf;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #9e9e9e;
  }